---
http_interactions:
- request:
    method: post
    uri: https://auspaynet-bicbsb-api-prod.azure-api.net/bsbquery/manual/paths/invoke
    body:
      encoding: UTF-8
      string: '{"outputparam":"                              "}'
    headers:
      Content-type:
      - application/json
      Ocp-apim-subscription-key:
      - "<AUSPAYNET_SUB_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - text/plain; charset=utf-8
      x-ms-workflow-run-id:
      - '08584759810780029358383571724CU01'
      x-ms-client-tracking-id:
      - '08584759810780029358383571724CU01'
      x-ms-trigger-history-name:
      - '08584759810780029358383571724CU01'
      x-ms-execution-location:
      - australiasoutheast
      x-ms-workflow-system-id:
      - "/locations/australiasoutheast/scaleunits/prod-07/workflows/55b07bc2b01c48cea922b9673bb16c54"
      x-ms-workflow-id:
      - 55b07bc2b01c48cea922b9673bb16c54
      x-ms-workflow-version:
      - '08584793971872858901'
      x-ms-workflow-name:
      - logicapp-all-wildcardquery
      x-ms-tracking-id:
      - 8d349630-46fe-44ae-9d3f-0dc53071b48e
      x-ms-ratelimit-burst-remaining-workflow-writes:
      - '2999'
      x-ms-ratelimit-remaining-workflow-download-contentsize:
      - '210888995'
      x-ms-ratelimit-remaining-workflow-upload-contentsize:
      - '214748112'
      x-ms-ratelimit-time-remaining-directapirequests:
      - '19998471'
    body:
      encoding: UTF-8
      string: '{"outputparam":"Query results returned "}[{"BSBCode":"012-002","BSBName":"ANZ
        Smart Choice","FiMnemonic":"ANZ","Address":"115 Pitt Street","Suburb":"Sydney","State":"NSW","Postcode":"2000","StreamCode":"PEH","lastmodified":null,"BIC":"ANZBAU3R","BICINT":"","repair":"00"},{"BSBCode":"012-003","BSBName":"Merged","FiMnemonic":"ANZ","Address":"Refer
        to BSB 012-019","Suburb":"Sydney","State":"NSW","Postcode":"2000","StreamCode":"PEH","lastmodified":null,"BIC":"ANZBAU3R","BICINT":"","repair":"00"}]'
  recorded_at: Fri, 06 Sep 2024 12:30:09 GMT
recorded_with: VCR 6.3.1
