---
http_interactions:
- request:
    method: post
    uri: https://auspaynet-bicbsb-api-prod.azure-api.net/BSBQuery-V2/manual/paths/invoke
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-type:
      - application/json
      Ocp-apim-subscription-key:
      - "<AUSPAYNET_SUB_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json
      x-ms-workflow-run-id:
      - '08584575192488054635250345459CU61'
      x-ms-client-tracking-id:
      - '08584575192488054635250345459CU61'
      x-ms-trigger-history-name:
      - '08584575192488054635250345459CU61'
      x-ms-execution-location:
      - australiasoutheast
      x-ms-workflow-system-id:
      - "/locations/australiasoutheast/scaleunits/prod-58/workflows/b6cb1d81c12f46cd9433109c878b4ca2"
      x-ms-workflow-id:
      - b6cb1d81c12f46cd9433109c878b4ca2
      x-ms-workflow-version:
      - '08584576177772871167'
      x-ms-workflow-name:
      - logicapp-all-wildcardquery-V2
      x-ms-tracking-id:
      - a1c9ff2c-1071-48cb-89b9-abcba0c3ca33
      x-ms-ratelimit-burst-remaining-workflow-writes:
      - '2044'
      x-ms-ratelimit-remaining-workflow-download-contentsize:
      - '140739431'
      x-ms-ratelimit-time-remaining-directapirequests:
      - '13634951'
    body:
      encoding: ASCII-8BIT
      string: '{"status":"success","message":"Query executed with filters applied","timestamp":"2025-04-08T04:47:16.863","requestId":"08584575192488054635250345459CU61","data":"[{\"BSBCode\":\"942-304\",\"BSBName\":\"Bank
        of Sydney Ltd - Doncaster\",\"FiMnemonic\":\"LBA\",\"Address\":\"Shop 1, 700
        Doncaster Road\",\"Suburb\":\"Doncaster\",\"State\":\"VIC\",\"Postcode\":\"3108\",\"StreamCode\":\"EH\",\"lastmodified\":\"2024-03-01T06:48:44\",\"BIC\":\"LIKIAU2S\",\"BICINT\":\"\",\"repair\":\"0\",\"FIName\":\"Bank
        of Sydney Ltd\"},{\"BSBCode\":\"942-303\",\"BSBName\":\"Bank of Sydney Ltd
        - Northcote\",\"FiMnemonic\":\"LBA\",\"Address\":\"25 Nthcote Ctr High & Seperation
        St\",\"Suburb\":\"Northcote\",\"State\":\"VIC\",\"Postcode\":\"3070\",\"StreamCode\":\"EH\",\"lastmodified\":\"2024-03-01T06:48:44\",\"BIC\":\"LIKIAU2S\",\"BICINT\":\"\",\"repair\":\"0\",\"FIName\":\"Bank
        of Sydney Ltd\"}]"}'
  recorded_at: Tue, 08 Apr 2025 04:47:19 GMT
recorded_with: VCR 6.3.1
